@use 'sass:color';
@use 'sass:list';

// NOTE: The theme variables below must match the Material UI theme values

// Palette - Common
$paletteCommonBlack: #000;
$paletteCommonWhite: #fff;

// Palette - Primary
$palettePrimaryLight: #42a5f5;
$palettePrimaryMain: #1976d2;
$palettePrimaryDark: #1565c0;

// Palette - Secondary
$paletteSecondaryLight: #ba68c8;
$paletteSecondaryMain: #9c27b0;
$paletteSecondaryDark: #7b1fa2;

// Palette - Text
$paletteTextPrimary: rgb(0 0 0 / 87%);
$paletteTextSecondary: rgb(0 0 0 / 60%);

// Font Weight
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

// Z-Index
$zIndexMobileStepper: 1000;
$zIndexFab: 1050;
$zIndexSpeedDial: 1050;
$zIndexAppBar: 1100;
$zIndexDrawer: 1200;
$zIndexModal: 1300;
$zIndexSnackbar: 1400;
$zIndexTooltip: 1500;

/**
 * Convert the given Material UI spacing unit values into pixel values.
 */
@function spacing($values...) {
  $output-values: ();

  @each $value in $values {
    $output-values: list.append($output-values, $value * 8px);
  }

  @return $output-values;
}

@function alpha($color, $alpha) {
  @return rgba($color, $alpha);
}

// Recreate the `theme.breakpoints.*` functions from Material UI.
// See: https://mui.com/material-ui/customization/breakpoints/#css-media-queries

@mixin xsDown {
  @media (width <= -0.05px) {
    @content;
  }
}

@mixin xsOnly {
  @media (width >= 0) and (width <= 599.95px) {
    @content;
  }
}

@mixin xsUp {
  @media (width >= 0) {
    @content;
  }
}

@mixin smDown {
  @media (width <= 599.95px) {
    @content;
  }
}

@mixin smOnly {
  @media (width >= 600px) and (width <= 899.95px) {
    @content;
  }
}

@mixin smUp {
  @media (width >= 600px) {
    @content;
  }
}

@mixin mdDown {
  @media (width <= 899.95px) {
    @content;
  }
}

@mixin mdOnly {
  @media (width >= 900px) and (width <= 1199.95px) {
    @content;
  }
}

@mixin mdUp {
  @media (width >= 900px) {
    @content;
  }
}

@mixin lgDown {
  @media (width <= 1199.95px) {
    @content;
  }
}

@mixin lgOnly {
  @media (width >= 1200px) and (width <= 1535.95px) {
    @content;
  }
}

@mixin lgUp {
  @media (width >= 1200px) {
    @content;
  }
}

@mixin xlDown {
  @media (width <= 1535.95px) {
    @content;
  }
}

@mixin xlOnly {
  @media (width >= 1536px) {
    @content;
  }
}

@mixin xlUp {
  @media (width >= 1536px) {
    @content;
  }
}
